.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.button {
	width: 10rem;
	border: none;
	padding: 1.6rem;
	background-color: crimson;
	color: white;
	cursor: pointer;
}
.buttonDisabled {
	width: 10rem;
	border: none;
	padding: 1.6rem;
	background-color: crimson;
	color: white;
	cursor: not-allowed;
	opacity: 0.5;
}

.button:disabled {
	cursor: not-allowed;
	opacity: 0.5;
}
