.container {
	margin-top: 5rem;
	padding: 2rem 0;
	display: flex;
	justify-content: space-between;
	color: var(--softTextColor);
	align-items: center;
}

.info {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 1.4rem;
}

.logo {
	display: flex;

	& .icon {
		font-size: 3rem;
	}
}
.desc {
	font-weight: 300;
}

.iconSocial {
	margin-top: 1.2rem;
	display: flex;
	gap: 1.2rem;
	& .icon {
		cursor: pointer;
	}
}

.links {
	flex: 1;
	display: flex;
	justify-content: flex-end;
	gap: 10rem;
}

.list {
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
	font-weight: 300;
}

.listTitle {
	font-weight: bold;
}

@media screen and (max-width: 1024px) {
	.links {
		gap: 5rem;
	}
}
@media screen and (max-width: 768px) {
	.container {
		flex-direction: column;
		gap: 5rem;
	}
	.links {
		width: 100%;
		justify-content: space-between;
	}
}
@media screen and (max-width: 640px) {
	.links {
		font-size: 1.5rem;
	}
}
